# PUT VARS HERE WHICH SHOULD NOT BE IN MACHINE ENV OR SETTINGS

# API General
COMPONENT_BASE_URL='http://localhost:3001'
API_BASE_URL='http://localhost:3001'
REMOTE_API_BASE_URL='http://localhost:8888'
