# THIS FILE IS FOR ENV VARS WHICH SHOULD NOT BE IN THE MACHINE ENV

# Auth0 Settings, from your account for a specific application
# (Takes a few minutes to set up for a free trial!)
AUTH0_DOMAIN='<---X--->.auth0.com'
AUTH0_SECRET='<---X--->'
AUTH0_CLIENT_ID='<---X--->'
AUTH0_CALLBACK_URL='http://localhost:3001/api/callback'
AUTH0_LOGOUT_URL='http://localhost:3001/'
COOKIE_SECRET='YouWillNeverGuessThisSecretKey32'
COOKIE_DOMAIN='http://www.<---X--->.com'

# API Server
API_NAME = 'OEStreamlitApi'
API_ID = '5e9cbe59270c2e09097096a5'
API_AUDIENCE = 'http://oe.streamlit.app/api'

# API Client
# https://manage.auth0.com/dashboard/us/<---YOUR AUTH0 DASHBOARD--->/settings
API_CLIENT_NAME = '<---X--->'
API_CLIENT_ID = '<---X--->'
API_CLIENT_SECRET = '<---X--->'

NEXT_RUN_PORT = 3001

# NEXT_PUBLIC_* ARE AVAILABLE TO THE CLIENT APP

# Auth0 settings we want in teh client app
NEXT_PUBLIC_AUTH0_AUTHORITY = 'https://<---X--->.auth0.com/'
NEXT_PUBLIC_AUTH0_ISSUER = 'https://<---X--->.auth0.com/'
NEXT_PUBLIC_AUTH0_DOMAIN = '<---X--->.auth0.com'
NEXT_PUBLIC_ALGORITHMS = ['RS256']

# SPA App
NEXT_PUBLIC_NAME = 'StreamlitApp'
NEXT_PUBLIC_CLIENT_ID = '<---SAME AS AUTH0_CLIENT_ID---> '
NEXT_PUBLIC_CLIENT_SECRET = '<---SAME AS AUTH0_SECRET---> '

# API General
NEXT_PUBLIC_REMOTE_API_BASE_URL='http://localhost:8888'
NEXT_PUBLIC_API_BASE_URL='http://localhost:3001'

# Special keys if you need them
NEXT_PUBLIC_PROFILE_KEY = 'profile'
NEXT_PUBLIC_JWT_PAYLOAD = 'jwt_payload'
NEXT_PUBLIC_USERINFO = 'userinfo'

# Next.js app, Flask app
NEXT_PUBLIC_CORS_ORIGINS = ['http://localhost:3001', 'http://localhost:8888']
