# https://github.com/auth0/nextjs-auth0/blob/main/V1_MIGRATION_GUIDE.md

# PUT VARS HERE WHICH SHOULD NOT BE IN MACHINE ENV OR SETTINGS

# Nextjs - Auth0 SDK v1.0 settings (must use these exact names)
AUTH0_BASE_URL='http://localhost:3001/'
AUTH0_ISSUER_BASE_URL='https://<--X-->.auth0.com'
AUTH0_SECRET='YouWillNeverGuessThisSecretKey32'
AUTH0_CLIENT_ID='<--X-->'
AUTH0_CLIENT_SECRET='<--X-->'
AUTH0_SCOPE='openid profile email ClientId ContactId CompanyName name'
AUTH0_AUDIENCE='<--X-->'
AUTH0_ALGORITHMS=['RS256']

# Not used in SDK auto-config
# AUTH0_COOKIE_SECRET='YouWillNeverGuessThisSecretKey32'
# AUTH0_COOKIE_DOMAIN='<--X-->'
# AUTH0_CALLBACK='/api/auth/callback'
# AUTH0_LOGOUT_REDIRECT='/'

# API General
NEXT_PUBLIC_REMOTE_API_BASE_URL='http://localhost:8888'
NEXT_PUBLIC_API_BASE_URL='http://localhost:3001'

# API Server
API_ID='<--X-->'
API_AUDIENCE='http://oe.streamlit.app/api'

# API Client
API_CLIENT_ID='<--X-->'
API_CLIENT_SECRET='<--X-->'

NEXT_RUN_PORT=3001

NEXT_PUBLIC_CORS_ORIGINS=['http://localhost:3001', 'http://localhost:8888']
